<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Admin,</h1>
    <p>
      User try to break the rules.
    </p>
    <p>Please be notified for such activities, for reference.</p>
  </body>
</html>
